body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:#f8f7f4;
    font-family: 'Raleway', sans-serif;
}

.navbar {
    color: black;
    padding: 2px;
    
}

.navdiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list {
    list-style: none;
    display: flex;
    align-items: center; 
}

.logo{
    width: 190px;
    height: auto;
    margin-left: 100px;
    cursor: pointer;   
}

.list li {
    margin-right: 20px;
    cursor: pointer;  
}

input[type="text"] {
    padding: 5px;
    margin-left:300px;
    background-color: #f4f5fb;
    border: none;  
    color: #333;
    padding: 8px 16px;
    height: 36px;
    border-radius: 50px;
    justify-content: center;
    outline: none;
}

button {
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.login-btn{
    background-color: #f8f7f4;
    color: #333;
    border: none;
    padding: 8px 16px;
    height: 56px;
    border-radius: 50px;
    justify-content: center;
}

.sing-btn{
    background-color: black;
    color: white;
    border: 1px solid white;
    padding: 8px 16px;
    border-radius: 50px;
    height: 56px;
    justify-content: center;
}

.sing-btn:hover{
background-color:dimgray;
}

.content{   
    margin: 20px 0;
    padding: 20px;
    text-align: center;
}

.content button {
    margin-top: 10px;
    align-items: center;
    cursor: pointer;
}

h1 {
    color: #333;
    font-size: 48px;
    font-weight:bolder;
}

.content div {
    color: #666; 
    font-size: 18px; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
}

.hire{
    background-color: black;
    color: white;
    border: 1px solid white;
    padding: 8px 16px;
    border-radius: 50px;
    height: 56px;
    justify-content: center;
}

.footer {
    background-color:#ffda79;
    padding: 80px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;   
}

.footer h2{
    font-size: 64px;
    max-width: 680px;
    line-height: 72px;
    text-align: center;
}

.footer div{
    font-size: 20px;
    max-width: 600px;
    margin: 0 auto;
    line-height: 36px;
}

.footer h2, .footer div {
    font-family: "Source Serif 4", Georgia, serif;
    letter-spacing: 0.5px;
    font-weight: normal;
}

.under {
    padding: 10px;
    margin-bottom: 40px;
    text-align: center;
}

.footer div:nth-child(2) {
    margin-bottom: 20px; 
}

.footer-btn-white{
    background-color: black;
    color: white;
    padding: 24px;
    height: 56px;
    border-radius: 50px;
    justify-content: center;
    font-size: 14px;
    display: inline-flex;
    position: relative;
    box-sizing: border-box;
    align-items: center;
}

.footer-btn-white:hover{
    background-color: dimgray;
}

.footer-btn-black{
    background-color: white;
    color: #0d0c22;
    padding: 8px 16px;
    border-radius: 50px;
    height: 56px;
    justify-content: center;
    margin-bottom: 40px;
    justify-content: center;
    font-size: 14px;
    display: inline-flex;
    position: relative;
    box-sizing: border-box;
    align-items: center;    
}

.footer-btn-black:hover{
    background-color: rgb(251, 251, 251);
}

.image-card {
    width: 100%;
    margin: 20px auto;
    overflow: hidden; 
    border: none  
}

.image-container {
    display: flex;
    gap: 15px;
    animation: scrollImages 10s linear infinite;
}

.image-container img {
    width: auto ;
    height: 200px;
    object-fit: cover;
    padding: 20px;
}

@keyframes scrollImages {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }   
}

.underline {
    text-decoration: underline;
  }

.footer-container{
    list-style: none;
    padding: 20px 0 10px;
    display: flex;
    justify-content: space-around;
}

.footer-container li{
    list-style: none;
}

.footer-upper{
    display: flex;
    list-style: none;
    margin-left: 20px;
}

.footer-upper li{
    font-weight: bold;
}

.footer-list li {
    display: inline-block;
    margin-right: 35px;
    text-align: center; 
}

.footer-list li:hover {
    cursor: pointer;
}

.footer-lower {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin-bottom: 5px;
    font-size: 14px;
    color: #3d3d4e;
    padding: 20px;
}

.footer-lower .footer-list {
    display: inline-block; 
}

.footer-lower .footer-list:last-child {
    margin-left: 10px; 
}

.custom-svg {
    width: 150px; 
    height: auto;
    vertical-align: middle;
    margin-right: 70px;
}

    


       
    
